@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: rgb(127, 127, 127);
}

.shopping {
    position: relative;

}

.shopping-cart {
    width: 500px;
    background-color: white;
    position: absolute;
    right: 0;
}

.total-quantity {
    background-color: rgb(244, 244, 244);
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.sub-total-quantity {
    display: flex;
}

.sub-total-quantity h2::before {
    content: "4";
    position: absolute;
    left: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
}

.fa-circle-xmark {
    position: relative;
    top: 6px;
    font-size: 20px;
}

.product-items {
    display: flex;
    position: relative;
    background-color: rgb(250, 250, 250);
}

.product-items-info {
    position: relative;
    top: 50px;
}

.name-product-items {
    display: block;
    padding: 30px 0;
}

.sub-product-items-info {
    display: flex;
    justify-content: space-between;
}

.quantity-product-items {
    padding: 3px 10px;
    border: 1px black solid;
    border-radius: 999px;
}

.fa-circle-xmark {
    display: block;
    position: absolute;
    right: -20px;
    top: -20px;
}

.product-items:nth-child(2) {
    border-top: 1px rgba(128, 128, 128, 0.163) solid;
    margin-bottom: 20px;
}

.price-product-items {
    font-weight: 600;
}

.total-price {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 10px 30px;
    font-weight: 600;

}

.price {
    color: red;
}

.content {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.473);
    padding: 0px 30px;
}

.action {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 10px;
    margin: 10px 30px;
    background-color: white;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.343);
}

.btn:nth-child(2) {
    background-color: rgb(64, 95, 242);
    color: #fff;
}

.shipping {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    font-weight: 600;
}